/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0A1526;
  font-family: 'Inter', sans-serif;
  color: #B9C8DB;
}

/* TOP BAR */
.topbar {
  width: 100%;
  background: #0D1E38;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #13284C;
}

.logo {
  line-height: 1.1;
}

.sg-main {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.sg-accent {
  color: #3DA9FC;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  margin-top: 3px;
  font-size: 13px;
  color: #7B93B3;
}

/* UPLOAD BUTTON */
.upload-btn {
  padding: 10px 22px;
  background: #3DA9FC;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* CONTENT */
.content {
  padding: 35px 40px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 28px;
}

.card {
  background: #0D1E38;
  padding: 20px 25px;
  border-radius: 14px;
  border: 1px solid #13284C;
  width: 260px;
}

.card-title {
  font-size: 14px;
  color: #8FA6BC;
}

.card-value {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-top: 6px;
}

.card-desc {
  font-size: 12px;
  color: #7D8FA6;
  margin-top: 5px;
}

/* CRITICAL CARD */
.card.critical {
  background: #2E0C0C;
  border: 1px solid #661313;
}

/* SECTION BOX */
.box-lg {
  background: #0D1E38;
  border: 1px solid #13284C;
  border-radius: 14px;
  padding: 25px 30px;
  margin-top: 32px;
}

.box-title {
  font-size: 18px;
  color: #fff;
}

.box-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  background: #09111F;
  border: 1px solid #13284C;
  padding: 7px 12px;
  border-radius: 6px;
  color: white;
}

/* TABLE */
.log-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 14px;
}

.log-table th,
.log-table td {
  padding: 12px 10px;
  border-bottom: 1px solid #13284C;
}

.log-table tbody tr:hover {
  background: #0A1A31;
}
