<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>SentinelGuard - HTTP Attack Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="topbar">
    <div class="logo">
        <span class="title-main">Sentinel</span><span class="title-accent">Guard</span>
        <p class="subtitle">Forensic HTTP Attack Analysis</p>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label class="upload-btn" for="upload">⬆ Upload Logs</label>
        <input type="file" name="file" id="upload" accept=".csv" hidden>
    </form>
</div>

<div class="content">

<div class="cards">
    <div class="card">
        <div class="card-title">Total Events</div>
        <div class="card-value" id="totalEvents">0</div>
        <div class="card-desc">All HTTP Requests</div>
    </div>

    <div class="card">
        <div class="card-title">Detected Attacks</div>
        <div class="card-value" id="detectedAttacks">0</div>
        <div class="card-desc">SQLi, XSS, CMD, LFI</div>
    </div>

    <div class="card critical">
        <div class="card-title">Critical</div>
        <div class="card-value" id="criticalCount">0</div>
        <div class="card-desc">Successful Intrusions</div>
    </div>

    <div class="card">
        <div class="card-title">Unique IPs</div>
        <div class="card-value" id="uniqueIP">0</div>
        <div class="card-desc">Distinct Sources</div>
    </div>
</div>

<div class="box-lg">
    <div class="box-title-row">
        <div class="box-title">Event Log</div>
        <input type="text" id="searchBox" placeholder="Search... IP, URL" class="search-box">
    </div>

    <table class="log-table">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>IP</th>
            <th>Method</th>
            <th>URL</th>
            <th>Attack</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="logBody"></tbody>
    </table>
</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
